name: Build AppImage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install appimage-builder
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          pip3 install appimage-builder

      - name: Build AppImage
        run: appimage-builder --skip-test
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: VeloxOS-Welcome-AppImage
          path: ./*.AppImage