name: Build AppImage

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libfuse2 binutils # libfuse2 wird für AppImages benötigt

      - name: Build AppImage
        run: |
          chmod +x build_appimage.sh
          ./build_appimage.sh

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: VeloxOS-Welcome-AppImage
          path: VeloxOS-Welcome-x86_64.AppImage